<a href="https://colab.research.google.com/github/marianvinas/DS-Unit-1-Sprint-2-Statistics/blob/master/MVinas_copy_of_LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [27]:
### YOUR CODE STARTS HERE

#wget
! wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data --no-check-certificate

--2020-04-09 03:44:21--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
WARNING: cannot verify archive.ics.uci.edu's certificate, issued by ‘CN=InCommon RSA Server CA,OU=InCommon,O=Internet2,L=Ann Arbor,ST=MI,C=US’:
  Issued certificate has expired.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.1s

2020-04-09 03:44:22 (137 KB/s) - ‘house-votes-84.data’ saved [18171/18171]

Load and clean the data (or determine the best method to drop observations when running tests)

In [28]:
column_headers = ['party','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa']
voters = pd.read_csv('house-votes-84.data',
                     header=None,
                     names=column_headers,
                     na_values='?')
voters

          party handicapped-infants water-project  ... crime duty-free south-africa
0    republican                   n             y  ...     y         n            y
1    republican                   n             y  ...     y         n          NaN
2      democrat                 NaN             y  ...     y         n            n
3      democrat                   n             y  ...     n         n            y
4      democrat                   y             y  ...     y         y            y
..          ...                 ...           ...  ...   ...       ...          ...
430  republican                   n             n  ...     y         n            y
431    democrat                   n             n  ...     n         n            y
432  republican                   n           NaN  ...     y         n            y
433  republican                   n             n  ...     y         n            y
434  republican                   n             y  ...     y       NaN            n

[435 rows x 17 columns]

In [63]:
voters =voters.replace({'y':1, 'n':0})
voters.head(3)

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0

[3 rows x 17 columns]

In [134]:
 voters.dtypes

party                    object
handicapped-infants     float64
water-project           float64
budget                  float64
physician-fee-freeze    float64
el-salvador-aid         float64
religious-groups        float64
anti-satellite-ban      float64
aid-to-contras          float64
mx-missile              float64
immigration             float64
synfuels                float64
education               float64
right-to-sue            float64
crime                   float64
duty-free               float64
south-africa            float64
dtype: object

In [132]:
voters['party'].value_counts().sort_index()

democrat      267
republican    168
Name: party, dtype: int64

In [71]:
rep = voters[voters['party']=='republican']
rep.shape

(168, 17)

In [72]:
dem = voters[voters['party']=='democrat']
dem.shape

(267, 17)

In [73]:
print(rep['budget'].sum())
len(rep)
rep['budget'].sum()/len(rep)

22.0

0.13095238095238096

In [0]:
col=rep['budget']
np.isnan(col)
budget_nonans=col[~np.isnan(col)]

In [0]:
col=dem['budget']
np.isnan(col)
budget_nonans1=col[~np.isnan(col)]

In [77]:
budget_nonans.sum()/len(waterproject_nonans)

0.13414634146341464

In [78]:
budget_nonans1.sum()/len(waterproject_nonans)

1.4085365853658536

In [79]:
rep['budget'].mean()

0.13414634146341464

In [80]:
dem['budget'].mean()

0.8884615384615384

In [81]:
ttest_ind(dem['budget'], rep['budget'], nan_policy='omit')

Ttest_indResult(statistic=23.21277691701378, pvalue=2.0703402795404463e-77)

In [0]:
def p_value(dem, rep):
  print(ttest_ind(dem, rep, nan_policy='omit')[1])

In [0]:
def stat(dem, rep):
  print(ttest_ind(dem, rep, nan_policy='omit')[0])

In [139]:
for column in dem:
  if column !='party':
    p_value(dem[column], rep[column])

1.613440327937243e-18
0.9291556823993485
2.0703402795404463e-77
1.994262314074344e-177
5.600520111729011e-68
2.3936722520597287e-20
8.521033017443867e-31
2.82471841372357e-54
5.03079265310811e-47
0.08330248490425066
1.5759322301054064e-15
1.8834203990450192e-64
1.2278581709672758e-34
9.952342705606092e-47
5.997697174347365e-32
3.652674361672226e-11

In [141]:
for column in dem:
  if column !='party':
    stat(dem[column], rep[column])

9.205264294809222
-0.08896538137868286
23.21277691701378
-49.36708157301406
-21.13669261173219
-9.737575825219457
12.526187929077842
18.052093200819733
16.437503268542994
-1.7359117329695164
8.293603989407588
-20.500685724563073
-13.51064251060933
-16.342085656197696
12.853146132542978
6.849454815841208

In [142]:
for column in rep:
  if column !='party':
    stat(dem[column], rep[column])

9.205264294809222
-0.08896538137868286
23.21277691701378
-49.36708157301406
-21.13669261173219
-9.737575825219457
12.526187929077842
18.052093200819733
16.437503268542994
-1.7359117329695164
8.293603989407588
-20.500685724563073
-13.51064251060933
-16.342085656197696
12.853146132542978
6.849454815841208

In [144]:
column_headers

['party',
 'handicapped-infants',
 'water-project',
 'budget',
 'physician-fee-freeze',
 'el-salvador-aid',
 'religious-groups',
 'anti-satellite-ban',
 'aid-to-contras',
 'mx-missile',
 'immigration',
 'synfuels',
 'education',
 'right-to-sue',
 'crime',
 'duty-free',
 'south-africa']

In [0]:
from scipy.stats import ttest_1samp

In [85]:
ttest_1samp(dem['budget'], .01, nan_policy='omit').pvalue

3.1056211436272872e-124

In [86]:
ttest_1samp(rep['budget'], .01, nan_policy='omit').pvalue

6.803300744518018e-06

3. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01

In [128]:
ttest_1samp(dem['mx-missile'], .01, nan_policy='omit').pvalue

5.3628520552639035e-77

In [129]:
ttest_1samp(rep['mx-missile'], .01, nan_policy='omit').pvalue

4.056857257946046e-05

In [130]:
dem.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           258.000000     239.000000  ...  251.000000    185.000000
mean              0.604651       0.502092  ...    0.637450      0.935135
std               0.489876       0.501045  ...    0.481697      0.246956
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      1.000000
50%               1.000000       1.000000  ...    1.000000      1.000000
75%               1.000000       1.000000  ...    1.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

In [131]:
rep.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           165.000000     148.000000  ...  156.000000    146.000000
mean              0.187879       0.506757  ...    0.089744      0.657534
std               0.391804       0.501652  ...    0.286735      0.476168
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      0.000000
50%               0.000000       1.000000  ...    0.000000      1.000000
75%               0.000000       1.000000  ...    0.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

In [104]:
dem['budget'].mean()

0.8884615384615384

In [105]:
rep['budget'].mean()

0.13414634146341464

In [111]:
ttest_1samp(dem['budget'], .95, nan_policy='omit').pvalue

0.0018482142293292608

In [119]:
ttest_1samp(rep['budget'], .95, nan_policy='omit').pvalue

2.203884799319012e-69

In [120]:
ttest_ind(dem['budget'], rep['budget'], nan_policy='omit')

Ttest_indResult(statistic=23.21277691701378, pvalue=2.0703402795404463e-77)